
*{
    margin: 0;
    padding: 0;
}
:root{
    --calculator-color:#000000c2;
    --button-color:#3d3d3d85;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    background-image: url(./image.png);
}
.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    background-color: var(--calculator-color);
    border-radius: 20px;
    padding: 10px;
    
}
.col123{
display: flex;
flex-direction: column;
justify-content: space-around;
width: calc(40vw*3/4);

}
.col4{
display: flex;
flex-direction: column;
}

.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    border-radius: 20px;
    padding: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
input{
   background-color: #00000000;
   color:white;
   width: 42vw;
   height: 10vw;
   border:none;
   border-radius: 20px;
}
.out{
    color:white;
    width: 40vw;
    height: 10vw;
    font-size: x-large;
    border-radius: 20px;
    padding: 10px;
    padding-left: 40px;
    display: flex;
    align-items: center;
}
.button{
    background-color: #3d3d3d85;
    color: rgb(255, 255, 255);
    width: 7vw;
    height: 7vw;
    border-radius: 15px;
    margin: 1vw;
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    -webkit-filter: blur(2px);
}
.button:active{
    -webkit-filter: blur(10px);
}
.operator{
    background-color: #5ca3ff75;
    margin: 1vw;
}
.control{
    background-color: #8888888a;

}
.zero{
    width: 20vw;
}
.equal{
    height: 12vw;
}
.plus{
    height: 12vw;
}
@media (min-width: 900px) {
    *{
        margin: 0;
        padding: 0;
    }
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10vh;
        background-image: url(./image.png);
    }
    .calculator{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 20vw;
        background-color: var(--calculator-color);
        border-radius: 20px;
        padding: 10px;
    }
    .col123{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(20vw*3/4);
    
    }
    .col4{
    display: flex;
    flex-direction: column;
    }
    
    .btns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 20vw;
        border-radius: 20px;
        padding: 10px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    input{
       background-color: #00000000;
       color:white;
       width: 21vw;
       height: 4vw;
       border:none;
       border-radius: 20px;
    }
    .out{
        margin-left: 4px;
        color:white;
        width: 20vw;
        height: 4vw;
        font-size: x-large;
        border-radius: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .button{
        background-color: var(--button-color);
        color: rgb(255, 255, 255);
        width: 3.5vw;
        height: 3.5vw;
        border-radius: 15px;
        margin: 1vw;
        text-align: center;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button:hover{
        -webkit-filter: blur(2px);
    }
    .operator{
        background-color: #5ca2ffc4;
        margin: 0.5vw;
    }
    .control{
        background-color: #888888c4;
    
    }
    .zero{
        width: 11.5vw;
    }
    .equal{
        height: 7.5vw;
    }
    .plus{
        height: 7.5vw;
    }
  }